:root {
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px, base */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-32: 2rem; /* 32px */
  --font-size-90: 5.625rem; /* 90px */

  --main-color-dark: #1b1d1d;
}

html {
  font-family: 'Figtree', 'Tamoma', 'Geneva', sans-serif;
  background-color: var(--main-color-dark);
  color: #f7cdff;
}